# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/

# Hydra outputs
outputs/
multirun/

# MLflow
mlruns/

# Lightning checkpoints
checkpoints/
lightning_logs/

# Data
data/

# Misc
.DS_Store
*.env
